<div class="col-md-12">
  <div class="record">
    <%= link_to("è¿”å›", records_path, class: "btn btn-primary pull-right")%>
  </div>
  <h3><%= @record.id %></h3>
  <p>IP: <%= @record.source_ip %></p>
  <p>User: <%= @record.user.email %></p>
  <p>Usage: <%= @record.get_internet_usage %> bytes</p>
  <p>Created at: <%= @record.created_at.in_time_zone("Taipei") %></p>
</div>
