<div class="container records">
  <%= link_to("è¿”å›", records_path, class: "btn btn-warning")%>
  <br>
  <br>
  <h1 class="h2 mb-3"># <%= @record.id %></h1>
  <br>
  <div class="table-responsive">
    <table class="table">
      <div class="group">
        <!-- <%= link_to("New Record", new_record_path, class: "btn btn-primary  pull-right") %> -->
      </div>
      <tbody>
        <tr>
          <td>IP</td>
          <td><%= @record.source_ip %></td>
        </tr>
        <tr>
          <td>User</td>
          <td><%= @record.user.email %></td>
        </tr>
        <tr>
          <td>Usage</td>
          <td><%= @record.get_internet_usage %></td>
        </tr>
        <tr>
          <td>Created at</td>
          <td><%= @record.created_at.in_time_zone("Taipei") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
