<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <div class="text-center mb-4">
    <h1 class="h2 mb-3 font-weight-normal">Login</h1>
    <p>Please login if you want to use the Internet.</p>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address" %>
    <label for="inputEmail">Email Address</label>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
    <label for="inputPassword">Password</label>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  
  <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
